<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trade.dao.BaseCompanyInfoDao">
	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO BASE_COMPANY_INFO (
		USCC,
		ENTP_CODE,
		ORG_NAME,
		CONER ,
		CONER_MOD ,
		ORG_INFO_ID ,
		UPDT_TIME,
		FIX_TEL
		) VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.uscc},
			#{item.entpCode},
			#{item.orgName},
			#{item.coner},
			#{item.conerMod},
			#{item.orgInfoId},
			#{item.updtTime},
			#{item.fixTel}
			)
		</foreach>
	</insert>

	<delete id="deleteAllDatas">
		DELETE FROM BASE_COMPANY_INFO
	</delete>
</mapper>
