<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trade.dao.BaseDrugInfoDao">
	<resultMap type="com.trade.model.BaseDrugInfo" id="BaseResultMap">
		<result property="drugCode" column="DRUG_CODE" javaType="String" />
		<result property="drugInfoId" column="DRUG_INFO_ID" javaType="String" />
		<result property="drugName" column="DRUG_NAME" javaType="String" />
		<result property="dosformName" column="DOSFORM_NAME" javaType="String" />
		<result property="specName" column="SPEC_NAME" javaType="String" />
		<result property="convrat" column="CONVRAT" javaType="String" />
		<result property="pac" column="PAC" javaType="String" />
		<result property="pacmatl" column="PACMATL" javaType="String" />
		<result property="purcType" column="PURC_TYPE" javaType="String" />
		<result property="pubonlnPric" column="PUBONLN_PRIC" javaType="BigDecimal" />
		<result property="hiPayStd" column="HI_PAY_STD" javaType="BigDecimal" />
		<result property="prodentpName" column="PRODENTP_NAME" javaType="String" />
		<result property="dclaEntpName" column="DCLA_ENTP_NAME" javaType="String" />
		<result property="basMednFlag" column="BAS_MEDN_FLAG" javaType="String" />
		<result property="tenditmName" column="TENDITM_NAME" javaType="String" />
		<result property="chkStas" column="CHK_STAS" javaType="String" />
		<result property="pubonlnStas" column="PUBONLN_STAS" javaType="String" />
		<result property="pubonlnTime" column="PUBONLN_TIME" javaType="Date" />
		<result property="pubonlnRsltId" column="PUBONLN_RSLT_ID" javaType="String" />
		<result property="minuntName" column="MINUNT_NAME" javaType="String" />
		<result property="minpacuntName" column="MINPACUNT_NAME" javaType="String" />
		<result property="admdvs" column="ADMDVS" javaType="String" />
		<result property="admdvsName" column="ADMDVS_NAME" javaType="String" />
		<result property="drugExpy" column="DRUG_EXPY" javaType="String" />
		<result property="linkagePric" column="LINKAGE_PRIC" javaType="BigDecimal" />
		<result property="linkagePurcPric" column="LINKAGE_PURC_PRIC" javaType="BigDecimal" />
		<result property="maxHiPayStd" column="MAX_HI_PAY_STD" javaType="BigDecimal" />
		<result property="prodentpCode" column="PRODENTP_CODE" javaType="String" />
	</resultMap>

	<sql id="full-columns">
		t.DRUG_CODE,
		t.DRUG_INFO_ID,
		t.DRUG_NAME,
		t.DOSFORM_NAME,
		t.SPEC_NAME,
		t.CONVRAT,
		t.PAC,
		t.PACMATL,
		t.PURC_TYPE,
		t.PUBONLN_PRIC,
		t.HI_PAY_STD,
		t.PRODENTP_NAME,
		t.DCLA_ENTP_NAME,
		t.BAS_MEDN_FLAG,
		t.TENDITM_NAME,
		t.CHK_STAS,
		t.PUBONLN_STAS,
		t.PUBONLN_TIME,
		t.PUBONLN_RSLT_ID,
		t.MINUNT_NAME,
		t.MINPACUNT_NAME,
		t.ADMDVS,
		t.ADMDVS_NAME,
		t.DRUG_EXPY,
		t.LINKAGE_PRIC,
		t.LINKAGE_PURC_PRIC,
		t.MAX_HI_PAY_STD,
		t.PRODENTP_CODE
	</sql>

	<sql id="common_where_if">
			<if test="@OGNL@isNotEmpty(drugCode)">
				AND t.DRUG_CODE = #{drugCode}
			</if>
			<if test="@OGNL@isNotEmpty(drugInfoId)">
				AND t.DRUG_INFO_ID = #{drugInfoId}
			</if>
			<if test="@OGNL@isNotEmpty(drugName)">
				AND t.DRUG_NAME = #{drugName}
			</if>
			<if test="@OGNL@isNotEmpty(dosformName)">
				AND t.DOSFORM_NAME = #{dosformName}
			</if>
			<if test="@OGNL@isNotEmpty(specName)">
				AND t.SPEC_NAME = #{specName}
			</if>
			<if test="@OGNL@isNotEmpty(convrat)">
				AND t.CONVRAT = #{convrat}
			</if>
			<if test="@OGNL@isNotEmpty(pac)">
				AND t.PAC = #{pac}
			</if>
			<if test="@OGNL@isNotEmpty(pacmatl)">
				AND t.PACMATL = #{pacmatl}
			</if>
			<if test="@OGNL@isNotEmpty(purcType)">
				AND t.PURC_TYPE = #{purcType}
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnPric)">
				AND t.PUBONLN_PRIC = #{pubonlnPric}
			</if>
			<if test="@OGNL@isNotEmpty(hiPayStd)">
				AND t.HI_PAY_STD = #{hiPayStd}
			</if>
			<if test="@OGNL@isNotEmpty(prodentpName)">
				AND t.PRODENTP_NAME = #{prodentpName}
			</if>
			<if test="@OGNL@isNotEmpty(dclaEntpName)">
				AND t.DCLA_ENTP_NAME = #{dclaEntpName}
			</if>
			<if test="@OGNL@isNotEmpty(basMednFlag)">
				AND t.BAS_MEDN_FLAG = #{basMednFlag}
			</if>
			<if test="@OGNL@isNotEmpty(tenditmName)">
				AND t.TENDITM_NAME = #{tenditmName}
			</if>
			<if test="@OGNL@isNotEmpty(chkStas)">
				AND t.CHK_STAS = #{chkStas}
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnStas)">
				AND t.PUBONLN_STAS = #{pubonlnStas}
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnTime)">
				AND t.PUBONLN_TIME = #{pubonlnTime}
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnRsltId)">
				AND t.PUBONLN_RSLT_ID = #{pubonlnRsltId}
			</if>
			<if test="@OGNL@isNotEmpty(minuntName)">
				AND t.MINUNT_NAME = #{minuntName}
			</if>
			<if test="@OGNL@isNotEmpty(minpacuntName)">
				AND t.MINPACUNT_NAME = #{minpacuntName}
			</if>
			<if test="@OGNL@isNotEmpty(admdvs)">
				AND t.ADMDVS = #{admdvs}
			</if>
			<if test="@OGNL@isNotEmpty(admdvsName)">
				AND t.ADMDVS_NAME = #{admdvsName}
			</if>
			<if test="@OGNL@isNotEmpty(drugExpy)">
				AND t.DRUG_EXPY = #{drugExpy}
			</if>
			<if test="@OGNL@isNotEmpty(linkagePric)">
				AND t.LINKAGE_PRIC = #{linkagePric}
			</if>
			<if test="@OGNL@isNotEmpty(linkagePurcPric)">
				AND t.LINKAGE_PURC_PRIC = #{linkagePurcPric}
			</if>
			<if test="@OGNL@isNotEmpty(maxHiPayStd)">
				AND t.MAX_HI_PAY_STD = #{maxHiPayStd}
			</if>
			<if test="@OGNL@isNotEmpty(prodentpCode)">
				AND t.PRODENTP_CODE = #{prodentpCode}
			</if>
	</sql>

	<insert id="save" parameterType="com.trade.model.BaseDrugInfo">
		INSERT INTO BASE_DRUG_INFO(
		DRUG_CODE ,
		DRUG_INFO_ID ,
		DRUG_NAME ,
		DOSFORM_NAME ,
		SPEC_NAME ,
		CONVRAT ,
		PAC ,
		PACMATL ,
		PURC_TYPE ,
		PUBONLN_PRIC ,
		HI_PAY_STD ,
		PRODENTP_NAME ,
		DCLA_ENTP_NAME ,
		BAS_MEDN_FLAG ,
		TENDITM_NAME ,
		CHK_STAS ,
		PUBONLN_STAS ,
		PUBONLN_TIME ,
		PUBONLN_RSLT_ID ,
		MINUNT_NAME ,
		MINPACUNT_NAME ,
		ADMDVS ,
		ADMDVS_NAME ,
		DRUG_EXPY ,
		LINKAGE_PRIC ,
		LINKAGE_PURC_PRIC ,
		MAX_HI_PAY_STD ,
		PRODENTP_CODE
		)
		VALUES (
		#{drugCode} ,
		#{drugInfoId} ,
		#{drugName} ,
		#{dosformName} ,
		#{specName} ,
		#{convrat} ,
		#{pac} ,
		#{pacmatl} ,
		#{purcType} ,
		#{pubonlnPric} ,
		#{hiPayStd} ,
		#{prodentpName} ,
		#{dclaEntpName} ,
		#{basMednFlag} ,
		#{tenditmName} ,
		#{chkStas} ,
		#{pubonlnStas} ,
		#{pubonlnTime} ,
		#{pubonlnRsltId} ,
		#{minuntName} ,
		#{minpacuntName} ,
		#{admdvs} ,
		#{admdvsName} ,
		#{drugExpy} ,
		#{linkagePric} ,
		#{linkagePurcPric} ,
		#{maxHiPayStd} ,
		#{prodentpCode}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO BASE_DRUG_INFO (
		DRUG_CODE ,
		DRUG_INFO_ID ,
		DRUG_NAME ,
		DOSFORM_NAME ,
		SPEC_NAME ,
		CONVRAT ,
		PAC ,
		PACMATL ,
		PURC_TYPE ,
		PUBONLN_PRIC ,
		HI_PAY_STD ,
		PRODENTP_NAME ,
		DCLA_ENTP_NAME ,
		BAS_MEDN_FLAG ,
		TENDITM_NAME ,
		CHK_STAS ,
		PUBONLN_STAS ,
		PUBONLN_TIME ,
		PUBONLN_RSLT_ID ,
		MINUNT_NAME ,
		MINPACUNT_NAME ,
		ADMDVS ,
		ADMDVS_NAME ,
		DRUG_EXPY ,
		LINKAGE_PRIC ,
		LINKAGE_PURC_PRIC ,
		MAX_HI_PAY_STD ,
		PRODENTP_CODE
		) VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.drugCode},
			#{item.drugInfoId},
			#{item.drugName},
			#{item.dosformName},
			#{item.specName},
			#{item.convrat},
			#{item.pac},
			#{item.pacmatl},
			#{item.purcType},
			#{item.pubonlnPric},
			#{item.hiPayStd},
			#{item.prodentpName},
			#{item.dclaEntpName},
			#{item.basMednFlag},
			#{item.tenditmName},
			#{item.chkStas},
			#{item.pubonlnStas},
			#{item.pubonlnTime},
			#{item.pubonlnRsltId},
			#{item.minuntName},
			#{item.minpacuntName},
			#{item.admdvs},
			#{item.admdvsName},
			#{item.drugExpy},
			#{item.linkagePric},
			#{item.linkagePurcPric},
			#{item.maxHiPayStd},
			#{item.prodentpCode}
			)
		</foreach>
	</insert>

	<select id="getById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="full-columns" />
		FROM BASE_DRUG_INFO t
		WHERE t.PUBONLN_RSLT_ID = #{value}
	</select>

	<select id="getListByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="full-columns" />
		FROM BASE_DRUG_INFO t
		<where>
			<include refid="common_where_if"/>
		</where>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT count(*)
		FROM BASE_DRUG_INFO t
		<where>
			<include refid="common_where_if"/>
		</where>
	</select>

	<update id="updateById" parameterType="com.trade.model.BaseDrugInfo">
		UPDATE BASE_DRUG_INFO
		<set>
			DRUG_CODE =
			#{drugCode},
			DRUG_INFO_ID =
			#{drugInfoId},
			DRUG_NAME =
			#{drugName},
			DOSFORM_NAME =
			#{dosformName},
			SPEC_NAME =
			#{specName},
			CONVRAT =
			#{convrat},
			PAC =
			#{pac},
			PACMATL =
			#{pacmatl},
			PURC_TYPE =
			#{purcType},
			PUBONLN_PRIC =
			#{pubonlnPric},
			HI_PAY_STD =
			#{hiPayStd},
			PRODENTP_NAME =
			#{prodentpName},
			DCLA_ENTP_NAME =
			#{dclaEntpName},
			BAS_MEDN_FLAG =
			#{basMednFlag},
			TENDITM_NAME =
			#{tenditmName},
			CHK_STAS =
			#{chkStas},
			PUBONLN_STAS =
			#{pubonlnStas},
			PUBONLN_TIME =
			#{pubonlnTime},
			MINUNT_NAME =
			#{minuntName},
			MINPACUNT_NAME =
			#{minpacuntName},
			ADMDVS =
			#{admdvs},
			ADMDVS_NAME =
			#{admdvsName},
			DRUG_EXPY =
			#{drugExpy},
			LINKAGE_PRIC =
			#{linkagePric},
			LINKAGE_PURC_PRIC =
			#{linkagePurcPric},
			MAX_HI_PAY_STD =
			#{maxHiPayStd},
			PRODENTP_CODE =
			#{prodentpCode},
		</set>
		WHERE PUBONLN_RSLT_ID =
		#{pubonlnRsltId}
	</update>

	<update id="updateBySelective" parameterType="com.trade.model.BaseDrugInfo">
		UPDATE BASE_DRUG_INFO
		<set>
			<if test="@OGNL@isNotEmpty(drugCode)">
				DRUG_CODE =
				#{drugCode},
			</if>
			<if test="@OGNL@isNotEmpty(drugInfoId)">
				DRUG_INFO_ID =
				#{drugInfoId},
			</if>
			<if test="@OGNL@isNotEmpty(drugName)">
				DRUG_NAME =
				#{drugName},
			</if>
			<if test="@OGNL@isNotEmpty(dosformName)">
				DOSFORM_NAME =
				#{dosformName},
			</if>
			<if test="@OGNL@isNotEmpty(specName)">
				SPEC_NAME =
				#{specName},
			</if>
			<if test="@OGNL@isNotEmpty(convrat)">
				CONVRAT =
				#{convrat},
			</if>
			<if test="@OGNL@isNotEmpty(pac)">
				PAC =
				#{pac},
			</if>
			<if test="@OGNL@isNotEmpty(pacmatl)">
				PACMATL =
				#{pacmatl},
			</if>
			<if test="@OGNL@isNotEmpty(purcType)">
				PURC_TYPE =
				#{purcType},
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnPric)">
				PUBONLN_PRIC =
				#{pubonlnPric},
			</if>
			<if test="@OGNL@isNotEmpty(hiPayStd)">
				HI_PAY_STD =
				#{hiPayStd},
			</if>
			<if test="@OGNL@isNotEmpty(prodentpName)">
				PRODENTP_NAME =
				#{prodentpName},
			</if>
			<if test="@OGNL@isNotEmpty(dclaEntpName)">
				DCLA_ENTP_NAME =
				#{dclaEntpName},
			</if>
			<if test="@OGNL@isNotEmpty(basMednFlag)">
				BAS_MEDN_FLAG =
				#{basMednFlag},
			</if>
			<if test="@OGNL@isNotEmpty(tenditmName)">
				TENDITM_NAME =
				#{tenditmName},
			</if>
			<if test="@OGNL@isNotEmpty(chkStas)">
				CHK_STAS =
				#{chkStas},
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnStas)">
				PUBONLN_STAS =
				#{pubonlnStas},
			</if>
			<if test="@OGNL@isNotEmpty(pubonlnTime)">
				PUBONLN_TIME =
				#{pubonlnTime},
			</if>
			<if test="@OGNL@isNotEmpty(minuntName)">
				MINUNT_NAME =
				#{minuntName},
			</if>
			<if test="@OGNL@isNotEmpty(minpacuntName)">
				MINPACUNT_NAME =
				#{minpacuntName},
			</if>
			<if test="@OGNL@isNotEmpty(admdvs)">
				ADMDVS =
				#{admdvs},
			</if>
			<if test="@OGNL@isNotEmpty(admdvsName)">
				ADMDVS_NAME =
				#{admdvsName},
			</if>
			<if test="@OGNL@isNotEmpty(drugExpy)">
				DRUG_EXPY =
				#{drugExpy},
			</if>
			<if test="@OGNL@isNotEmpty(linkagePric)">
				LINKAGE_PRIC =
				#{linkagePric},
			</if>
			<if test="@OGNL@isNotEmpty(linkagePurcPric)">
				LINKAGE_PURC_PRIC =
				#{linkagePurcPric},
			</if>
			<if test="@OGNL@isNotEmpty(maxHiPayStd)">
				MAX_HI_PAY_STD =
				#{maxHiPayStd},
			</if>
			<if test="@OGNL@isNotEmpty(prodentpCode)">
				PRODENTP_CODE =
				#{prodentpCode},
			</if>
		</set>
		WHERE PUBONLN_RSLT_ID =
		#{pubonlnRsltId}
	</update>

	<update id="updateByParams">
		UPDATE BASE_DRUG_INFO t
		<set>
			<if test="@OGNL@isNotEmpty(model.drugCode)">
				DRUG_CODE =
				#{model.drugCode},
			</if>
			<if test="@OGNL@isNotEmpty(model.drugInfoId)">
				DRUG_INFO_ID =
				#{model.drugInfoId},
			</if>
			<if test="@OGNL@isNotEmpty(model.drugName)">
				DRUG_NAME =
				#{model.drugName},
			</if>
			<if test="@OGNL@isNotEmpty(model.dosformName)">
				DOSFORM_NAME =
				#{model.dosformName},
			</if>
			<if test="@OGNL@isNotEmpty(model.specName)">
				SPEC_NAME =
				#{model.specName},
			</if>
			<if test="@OGNL@isNotEmpty(model.convrat)">
				CONVRAT =
				#{model.convrat},
			</if>
			<if test="@OGNL@isNotEmpty(model.pac)">
				PAC =
				#{model.pac},
			</if>
			<if test="@OGNL@isNotEmpty(model.pacmatl)">
				PACMATL =
				#{model.pacmatl},
			</if>
			<if test="@OGNL@isNotEmpty(model.purcType)">
				PURC_TYPE =
				#{model.purcType},
			</if>
			<if test="@OGNL@isNotEmpty(model.pubonlnPric)">
				PUBONLN_PRIC =
				#{model.pubonlnPric},
			</if>
			<if test="@OGNL@isNotEmpty(model.hiPayStd)">
				HI_PAY_STD =
				#{model.hiPayStd},
			</if>
			<if test="@OGNL@isNotEmpty(model.prodentpName)">
				PRODENTP_NAME =
				#{model.prodentpName},
			</if>
			<if test="@OGNL@isNotEmpty(model.dclaEntpName)">
				DCLA_ENTP_NAME =
				#{model.dclaEntpName},
			</if>
			<if test="@OGNL@isNotEmpty(model.basMednFlag)">
				BAS_MEDN_FLAG =
				#{model.basMednFlag},
			</if>
			<if test="@OGNL@isNotEmpty(model.tenditmName)">
				TENDITM_NAME =
				#{model.tenditmName},
			</if>
			<if test="@OGNL@isNotEmpty(model.chkStas)">
				CHK_STAS =
				#{model.chkStas},
			</if>
			<if test="@OGNL@isNotEmpty(model.pubonlnStas)">
				PUBONLN_STAS =
				#{model.pubonlnStas},
			</if>
			<if test="@OGNL@isNotEmpty(model.pubonlnTime)">
				PUBONLN_TIME =
				#{model.pubonlnTime},
			</if>
			<if test="@OGNL@isNotEmpty(model.minuntName)">
				MINUNT_NAME =
				#{model.minuntName},
			</if>
			<if test="@OGNL@isNotEmpty(model.minpacuntName)">
				MINPACUNT_NAME =
				#{model.minpacuntName},
			</if>
			<if test="@OGNL@isNotEmpty(model.admdvs)">
				ADMDVS =
				#{model.admdvs},
			</if>
			<if test="@OGNL@isNotEmpty(model.admdvsName)">
				ADMDVS_NAME =
				#{model.admdvsName},
			</if>
			<if test="@OGNL@isNotEmpty(model.drugExpy)">
				DRUG_EXPY =
				#{model.drugExpy},
			</if>
			<if test="@OGNL@isNotEmpty(model.linkagePric)">
				LINKAGE_PRIC =
				#{model.linkagePric},
			</if>
			<if test="@OGNL@isNotEmpty(model.linkagePurcPric)">
				LINKAGE_PURC_PRIC =
				#{model.linkagePurcPric},
			</if>
			<if test="@OGNL@isNotEmpty(model.maxHiPayStd)">
				MAX_HI_PAY_STD =
				#{model.maxHiPayStd},
			</if>
			<if test="@OGNL@isNotEmpty(model.prodentpCode)">
				PRODENTP_CODE =
				#{model.prodentpCode},
			</if>
		</set>
		<where>
			<include refid="common_where_if"/>
		</where>
	</update>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		BASE_DRUG_INFO WHERE PUBONLN_RSLT_ID = #{value}
	</delete>

	<delete id="deleteAllDatas">
		DELETE FROM BASE_DRUGINFO_PROVINCE
	</delete>
</mapper>
